<!DOCTYPE html>
<html lang="en">
  <head>
    {% load static %}
    <link
      rel="stylesheet"
      href="{% static 'css/src/output.css' %}"
    />
    <title>{% block title %}My amazing site{% endblock %}</title>
  </head>

  <body>
    <!-- <div id="nav">{% include "includes/nav.html" %}</div> -->

    <div id="content">{% block content %}{% endblock %}</div>

    {% block script %} {% endblock script %}
    <dialog
      id="logout_modal"
      class="modal"
    >
      <div class="modal-box">
        <h1 class="text-2xl">Logout</h1>
        <p>Are you sure you want to logout?</p>
        <div>

            <form
            method="POST"
                action="{% url 'account_logout' %}"
                >
                {% csrf_token %} 
                <button
                class="btn btn-neutral"
                type="submit"
                >
                Logout
            </button>
        </div>
    </form>
    <a class="btn btn-ghost" href="{% url 'account_email' %}">Deny</a>
</div>
    </dialog>
    <script>
      const themeSwitch = document.getElementById('toggle-switch');
      const savedTheme = localStorage.getItem('theme');
      const prefersDark = window.matchMedia(
        '(prefers-color-scheme: light)'
      ).matches;
      const defaultTheme = prefersDark ? 'dark' : 'light';
      const currentTheme = savedTheme || defaultTheme;

      document.documentElement.setAttribute('data-theme', currentTheme);
      themeSwitch.checked = currentTheme === 'dark';

      themeSwitch.addEventListener('change', () => {
        const isChecked = themeSwitch.checked;
        const newTheme = isChecked ? 'dark' : 'light';

        document.documentElement.setAttribute('data-theme', newTheme);

        localStorage.setItem('theme', newTheme);
      });
    </script>
  </body>
</html>
