{% extends "base.html" %} {% load crispy_forms_tags %} {% load tailwind_filters
%} {% block title %} "Sign In" {% endblock title %} {% block content %}
<div class="hero bg-base-200 min-h-screen">
  <div class="hero-content flex-col lg:flex-row-reverse">
    <div class="text-center lg:text-left">
      <h1 class="text-5xl font-bold">Login now!</h1>
      <p class="py-6">
        Provident cupiditate voluptatem et in. Quaerat fugiat ut assumenda
        excepturi exercitationem quasi. In deleniti eaque aut repudiandae et a
        id nisi.
      </p>
    </div>
    <div class="card bg-base-100 w-full max-w-sm shrink-0 shadow-2xl">
      <div class="card-body">
        <form
          class="mt-8 space-y-6"
          method="POST"
          action="{% url 'account_login' %}"
        >
          {% csrf_token %} {{ form|crispy }} {% if redirect_field_value %}
          <input
            type="hidden"
            name="{{ redirect_field_name }}"
            value="{{ redirect_field_value }}"
          />
          {% endif %}
          <button
            class="btn btn-neutral mt-4 w-full"
            type="submit"
          >
            Login
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
