{% extends "base.html" %} {% load crispy_forms_tags %} {% load tailwind_filters
%} {% block title %} Logout {% endblock title %} {% block content %}
<div class="hero bg-base-200 min-h-screen">
  <div class="hero-content flex-col lg:flex-row-reverse">
    <div class="text-center lg:text-left"></div>
    <div class="card bg-base-100 w-96 shadow-2xl">
      <div class="card-body items-center text-center">
        <h1 class="card-title text-2xl">Logout</h1>
        <p>Are you sure you want to logout?</p>
        <div class="card-actions justify-end">
            <div>
<button class="btn" onclick="logout_modal.showModal()">Logout</button>
                <form
                method="POST"
                action="{% url 'account_logout' %}"
                >
                {% csrf_token %} 
                <button
                class="btn btn-neutral w-full"
                type="submit"
                >
                Logout
            </button>
        </div>
          </form>
          <a class="btn btn-ghost" href="{% url 'account_email' %}">Deny</a>
        </div>
      </div>
    </div>
  </div>
</div>
  {% endblock content %}
