{% extends "base.html" %} {% load crispy_forms_tags %} {% load tailwind_filters
%} {% block title %} Sign Up {% endblock title %} {% block content %}
<div class="hero bg-base-200 min-h-screen">
  <div class="hero-content flex-col lg:flex-row-reverse">
    <div class="text-center lg:text-left">
      <p class="py-6"></p>
    </div>
    <div class="card bg-base-100 w-full max-w-sm shrink-0 shadow-2xl">
      <div class="card-body">
        <h1 class="text-5xl font-bold">Signup</h1>
        <form
          class="mt-8 space-y-6"
          method="POST"
          action="{% url 'account_signup' %}"
        >
          {% csrf_token %} {{ form|crispy }} {% if redirect_field_value %}
          <input
            type="hidden"
            name="{{ redirect_field_name }}"
            value="{{ redirect_field_value }}"
          />
          {% endif %}
          <button
            class="btn btn-neutral mt-4 w-full"
            type="submit"
          >
            Sign Up
          </button>
          Already have an account?
          <a
            href="{% url 'account_login' %}"
            class="btn btn-link btn-sm"
          >
            Login</a
          >
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
